node_modules
.env
coverage
coverage.json
typechain
typechain-types
TODO.md

# Hardhat files
cache
artifacts


# LayerZero specific files
.layerzero

# foundry
*broadcast

# foundry test compilation files
out

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea


wxtm-bridge-contracts-typechain/**/*.js
wxtm-bridge-contracts-typechain/**/*.d.ts
wxtm-bridge-contracts-typechain/typechain
